[*.cs]

# Justification: Test project
dotnet_diagnostic.CA2007.severity = none

# PS0004: A parameter of type CancellationToken on a private delegate or method should be required
dotnet_diagnostic.PS0004.severity = none

# Justification: Tests don't support cancellation and don't need to forward IMessageHandlerContext.CancellationToken
dotnet_diagnostic.NSB0002.severity = suggestion
