nugets
build
build32
ForIntegration
binaries
obj
bin
*.vshost.*
.vs/
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
*.orig
packages
Release
packages/
NugetBuild/
csx
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
logs
*.received.txt
*.jtconfig
*.received