[*.cs]

# Justification: Test project
dotnet_diagnostic.CA2007.severity = none

# Justification: Tests don't support cancellation and don't need to forward IMessageHandlerContext.CancellationToken
dotnet_diagnostic.NSB0002.severity = suggestion
dotnet_diagnostic.PS0018.severity = suggestion
dotnet_diagnostic.PS0013.severity = suggestion

# Persistene library doesn't need saga analyzers
dotnet_diagnostic.NSB0004.severity = none